* {
  margin: 0;
  padding: 0;
}

.line {
  width: 500px;
  border-bottom: solid 3px black;
}

.cat-a {
  position: absolute;
  flex: 0 1 auto;
  font-size: 20px;
  width: 50px;
  height: 50px;
  background: red;
  border-radius: 10px;
}

.cat-b {
  flex: 0 1 auto;
  position: absolute;
  font-size: 20px;
  width: 50px;
  height: 50px;  
  background: red;
  border-radius: 10px;
}

.mouse {
  flex: 0 1 auto;
  position: absolute;

  font-size: 20px;
  width: 50px;
  height: 50px;
  background: red;
  border-radius: 10px;
}

/* .winner {
  width: 20px;
  height: 20px;
  background: green;
  border-radius: 10px;
} */
