* {
  margin: 0;
  padding: 0;
}

.line {
  width: 500px;
  border-bottom: solid 1px black;
}



.circle {
  position: absolute;
  flex: 0 1 auto;
  font-size: 20px;
  width: 10px;
  height: 10px;
  background: black;
  border-radius: 10px;
}


.cat-a {
  background: red;
}

.cat-b {
  background: yellow;
}

.mouse {
  background: orange;
}

.winner {
  background: green;
}
