@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

body {
  background: rgb(53, 53, 53);
  color: white;
}

.data {
  margin-left: 5%;
}
.container {
  font-family: "Roboto", sans-serif;
  border-radius: 25px 25px 0 0;
  border: 1px solid white;
  position: absolute;
  min-width: 320px;
  left: 50%;
  margin-left: -160px;
  top: 50%;
  margin-top: -200px;
}

.container p {
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  text-decoration: underline;
  padding: 3px;
}

.container h5 {
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  text-decoration: underline;
  margin: 0;
  padding: 10px;
}

p a {
  color: gray;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
p a:hover {
  color: rgb(185, 185, 185);
}
.modal.open .modal-window {
  transform: translateY(200px);
}

.modal.open .modal-overlay {
  background: rgba(0, 0, 0, 0.5);
}
.modal.open .modal-overlay,
.modal.open .modal-window {
  opacity: 1;
  z-index: 1000;
}

.modal.hide .modal-overlay,
.modal.hide .modal-window {
  opacity: 1;
  z-index: 1000;
}

.modal.hide .modal-window {
  transform: translateY(-200px);
}

.modal.hide .modal-overlay {
  background: rgba(0, 0, 0, 0);
}
.modal-window,
.modal-overlay {
  opacity: 0;
  z-index: -1;
}
.modal {
  color: black;
  max-height: 100%;
}

.modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0);
  transition: background 0.2s ease-in;
}

.modal-window {
  overflow-y: auto;
  height: 300px;
  word-wrap: break-word;
  width: 600px;
  border-radius: 5px;
  background: #fff;
  margin: 0 auto;
  transform: translateY(-300px);
  transition: transform 0.2s ease-in;
}

.modal-header {
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dashed black;
  position: sticky;
  top: 0;
  background: #fff;
  opacity: 1;
}

.modal-title {
  font-size: 1.3rem;
}

.modal-close {
  cursor: pointer;
}

.modal-body {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
}
.modal-body p {
  margin: 0 0 5px;
}

.modal-footer {
  padding: 5px 10px;
  border-top: 1px dashed black;
  display: flex;
  justify-content: flex-end;
}

.bottle {
  width: 16px;
  height: 16px;
  background-image: url(big-bottle-of-water.png);
  justify-content: flex-start;
}
/* delete arrows count from form */
/* input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
} */

input {
  width: 150px;
}
