@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css");

* {
  font-family: "Open Sans", "sans-serif", "FontAwesome";
}

body {
  background: rgb(52, 56, 61);
  padding: 80px;
}
.container {
  border: 1px solid black;
  position: absolute;
  width: 400px;
  left: 50%;
  margin-left: -160px;
  top: 50%;
  margin-top: -200px;
}
.input-data input {
  height: 20px;
  width: 40px;
  border-radius: 8px;
  position: relative;
}

.input-data input:focus {
  background-color: red;
  border: 1px solid #555;
}
.input-data p {
  color: white;
}
.input-data h4 {
  margin: 0;
  padding: 0;
  color: rgb(66, 60, 60);
}

#task input[type="number"] {
  position: relative;
  display: block;
  width: 280px;
  height: 45px;
  border: 0;
  outline: 0;
  top: -2px;
  padding: 0 0 0 20px;
  font-weight: 700;
}
#task input[type="number"],
#task button {
  background: rgb(38, 63, 100);
  box-shadow: inset -100px -100px 0 rgb(28, 30, 33); /*Prevent yellow autofill color*/
  color: rgb(52, 56, 61);
}

#task input[type="number"]:focus {
  color: rgb(255, 255, 255);
}

#task button:hover {
  color: rgb(0, 126, 165);
  text-shadow: 0 0 10px rgb(0, 126, 165);
  cursor: pointer;
}
#task p {
  color: rgb(79, 85, 97);
  padding: 0 20px;
  font-weight: 700;
  font-size: 12px;
  margin: 5px 0 0 0;
}

#task p > a {
  color: rgb(111, 119, 135);
  text-decoration: none;
}

#task p > a:hover {
  border-bottom: 1px solid;
}
