.container_st {
  margin-left: 30px;
}
.build_guitars {
  display: flex;
  width: 270px;
}
.cell:nth-child(n) {
  width: 45px;
  text-align: center;
}
.wrapp {
  display: inline-flex;
  flex-direction: column;
}

.container_gn {
  display: flex;
  width: 270px;
  height: 40px;
}

.guitar_neck:nth-child(n) {
  width: 45px;
  height: 40px;
  border-right: 1px solid black;
  border-top: 1px solid black;
}
.guitar_neck:nth-child(6n + 1) {
  width: 45px;
  height: 40px;
  border-left: 1px solid black;
}
