* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  margin: 0 auto;
}

.slider {
  width: 800px;
  height: 500px;
  border: 5px solid black;
}

.slider__item img {
  height: 491px;
  width: 791px;
}
.wrapper {
  display: flex;
  justify-content: space-between;
}

.slide {
  display: none;
}

.slide.active {
  display: block;
}

.point {
  padding: 5px;
  cursor: pointer;
  width: 13px;
  margin-left: 5px;
  height: 13px;
  background: black;
  border-radius: 50%;
  border: 1px solid white;
}

.points_wrapper {
  width: 200px;
  display: flex;
  justify-content: center;
  margin-top: -25px;
  padding: 5px;
}

.point.active {
  width: 13px;
  margin-left: 5px;
  height: 13px;
  background: rgb(102, 32, 32);
  border: 1px solid white;
  border-radius: 30%;
}

.buttons {
  margin-top: 15px;
  position: absolute;
  box-sizing: border-box;
}

.item_prev {
  background: rgb(202, 202, 202);
  width: 50px;
  height: 40px;
  border: 0 transparent;
}

.item_next {
  background: rgb(202, 202, 202);

  width: 50px;
  height: 40px;
  border: 0 transparent;
}

.item_prev:focus {
  background: rgb(99, 98, 98);
  outline: 0;
  box-sizing: border-box;
}
.item_next:focus {
  background: rgb(99, 98, 98);
  outline: 0;
  box-sizing: border-box;
}

.item_prev:hover {
  background: rgb(99, 98, 98);
  border-radius: 20%;
  outline: 0;
  box-sizing: border-box;
}
.item_next:hover {
  border-radius: 20%;

  background: rgb(99, 98, 98);
  outline: 0;
  box-sizing: border-box;
}
